.container {
  display: flex;
  justify-content: space-between;
  height: 100vh;
}
.center {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.sectionOne {
  background-image: url("../../../assets/image-7.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;
}

.sectionOne div {
  position: absolute;
  top: 18rem;
  left: 7rem;
}

.sectionOne h3 {
  font-size: 40px;
  color: #ffffff;
}

.sectionTwo {
  background-color: #ffffff;
  padding: 1rem 3rem;
  width: 70%;
}

.lotusLogo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.registerContainer {
  width: 100%;
}

.signupText {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: center;
  align-items: center;
}

.signupText h3 {
  font-size: 25px;
  font-weight: 500;
  text-align: left;
  color: #000000;
}

.btnsContainer {
  display: flex;
  align-items: center;
  gap: 2rem;
  width: 100%;
  margin-top: 1rem;
}

Button.registerBtn {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  border-radius: 7px;
  background-color: #c80016;
  cursor: pointer;
  border-radius: 5px;
  height: 3.1rem;
}

Button.signupBtn {
  color: #c80016;
  font-size: 16px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0em;
  cursor: pointer;
  border-radius: 5px;
  height: 3.1rem;
  width: 16rem;
}

Button.signinBtn {
  color: #c80016;
  font-size: 16px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0em;
  cursor: pointer;
  transition-duration: 0.4s;
  border-radius: 5px;
  height: 3.1rem;
  width: 16rem;
}

.tabContent {
  margin-top: 1rem;
}
